.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link{
        padding: 10px;
        
    }
}